@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align: center;">Welcome to eCommerce!</h1>

<div style="text-align: center;">
    <p>@Html.ActionLink("See all Products", "Index", "Products")</p>
    <p>@Html.ActionLink("Create an account/login/logout", "Index", "Account")</p>
    @* <p>@Html.ActionLink("View your cart", "Index", "Order")</p>  *@
 </div>  