@{
    ViewData["Title"] = "Home Page";
}

<h1 id="main-title" style="text-align: center;">Welcome to eCommerce</h1>

<div style="text-align: center;">
     <a class="products-link-button" asp-area="" asp-controller="Products" asp-action="Index">See Our Products</a>
 </div>  