
@{
  Layout = "_Layout";
}

@model Ecommerce.Models.Product

<h4>Add a new flavor</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add product to cart" class="btn btn-primary"/>
}
@* <p>@Html.ActionLink("Show all flavors", "Index")</p> *@