@{
    Layout = "_Layout";
}

@using Ecommerce.Models;
@model IEnumerable<Ecommerce.Models.Product>





<div class="container products-container">

  <div class="row parent-element">

      @foreach(Product product in Model)
      {
         <a class="" asp-area="" asp-controller="Products" asp-action="Details"> 
            <div class="card product-card">
                <img src="https://picsum.photos/350" alt="Product Image" style="width:100%">
                @* <h5 class="product-name">@product.Name</h5> *@
                <p class="card-price">$@product.Price</p>
                @* <p><button>Add to Cart</button></p> *@
            </div>  
         </a>  
      }

  </div>  

</div>
