body {
    background: url('../../img/lake-trees.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}   

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

header {
    background-color: #306ca0;
    color: white;
}

.navbar-brand {
    color: aliceblue;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}



/* ------ Product Details Page ----------- */

.product-details-container {
    margin-top: 160px;
    -webkit-box-shadow: 6px 7px 15px 3px rgba(0,0,0,0.91);
    box-shadow: 6px 7px 15px 3px rgba(0,0,0,0.91);
}

.top-row {
    min-height: 400px;
}

.single-product-image {
  width: 400px;
  height: 400px;
  margin-top: 75px;
}

.bottom-row {
   min-height: 300px;
}

.product-right-column {
    margin-top: 75px;
    margin-top: 75px;
    background-color: rgb(240, 237, 245);
    padding-left: 30px;
  
}

.product-left-column {

}

.product-image {
    margin-top: 85px;
}


.product-title {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 30px;
}

.price {
    font-weight: bold;
    font-size: 40px;
}

h2.product-description {
    font-weight: bold;
    margin: 40px 0 8px 0;
}

.cart-button {
    margin: 30px auto;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 20px;
    font-weight: bold;
    background: #004085;
    color: ghostwhite;
    border: 3px solid #004085;
}

.free-shipping {
    font-weight: 800;
    font-style: italic;
    margin-top: 20px;
}

h6.sku-number {
    margin-top: 50px;
    font-weight: bold;
    float: right;
    padding-bottom: 15px;
}

/* --------- End of product details ---------- */


/* --------- All Products ----------- */

.products-container {
    width: 65%;
    padding: 0px;
    margin: 100px auto;
} 

.product-card {
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 30px; 
    float: left;
    overflow: hidden;
}


.card-header {
    width: 100%;
    height: 75%;
    padding: 0px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.product-images {
    width: 100%;
    height: 100%;

}

.card-footer {
    width: 100%;
    height: 25%;
    padding: 0px;
    margin: 0px;
    /* background-color: rgb(243, 255, 227); */
    background-color: aliceblue;
}

p.product-link {
    margin-top: 50px;
    margin-left: 12px;
    float: right;
    margin-right: 15px;
}


.card-title {
    float: left;
    margin-top: 12px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 25px;
    width: 60%;
    overflow: hidden; 
    color: black;   
} 
  











